<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suites" >
    <suite-files>
        <suite-file path="channel-closed-tests.xml" />
        <suite-file path="channel-public-tests.xml" />
        <suite-file path="channel-public-proven-tests.xml" />
    </suite-files>
</suite>

<!--<suite name="Suites" >
    <suite-files>
        <suite-file path="channel-public-proven-tests.xml" />
    </suite-files>
</suite>-->

<!--<suite name="Suites" verbose="1" preserve-order="true">
    <test name="Channels" >
        <classes>
            <class name="chat.ros.testing2.administration.TestClosedChannel" />
            <class name="chat.ros.testing2.administration.TestClosedChannelChangeType" />
            <class name="chat.ros.testing2.administration.TestPublicChannel"></class>
            <class name="chat.ros.testing2.administration.TestPublicChannelChangeType"></class>
            <class name="chat.ros.testing2.administration.TestPublicProvenChannel"></class>
            <class name="chat.ros.testing2.administration.TestPublicProvenChannelChangeType"></class>
        </classes>
    </test>
</suite>-->